@media screen and (min-width: 769px), print {
	.columns:not(.is-desktop) {
	    display: flex;
	}

	.column.is-narrow, .column.is-narrow-tablet {
	    flex: none;
	}
}

.columns:last-child {
    margin-bottom: -.75rem;
}

.messages {
    background: #fff;
    overflow: hidden;
    padding-top: 20px;

    table {
	    .col-03 {
		    width: 120px;
		    text-align: center;
		}

		thead {
			th {
				background: #ebebeb;
			}
		}
    } 

    .title {
	    margin-bottom: 10px;
	    display: flex;
    	justify-content: space-between;

	    .level-left {
		    font-size: 20px;
		    color: #424242;
		    font-weight: 700;
		}

		.level-right a {
		    font-size: 16px;
		    color: #ff2853;
		    padding: 5px 20px 5px 27px;
		    font-weight: 700;
		}


	}

    .user-right {
	    width: 100px!important;
	    text-align: center;
	    order: 2;
	    .img {
		    width: 100px;
		    margin: 0 auto 8px;
		    img {
			    height: auto;
			    max-width: 100%;
			}
		}

		button {
		    width: 100px;
		    margin: 0 auto;
		        border-radius: 4px;
		}
	}

    .nav-user {
	    width: 370px;
	    border-right: 1px solid #eee;
	    height: 100%;

	    li {
	    	width: 300px;
    		margin: 0 auto;

    		a {
    			display: block;
			    font-size: 16px;
			    color: #000;
			    border-bottom: 1px solid #eee;
			    padding: 11px 0 11px 47px;
			    background-size: 26px 26px;
			    background-position: 10px center;
			    background-repeat: no-repeat;
    		}

    		a.li01 {
			    background-image: url(../images/mess_icon01.png);
			}
			a.is-active.li01 {
			    background-image: url(../images/mess_icon01_act.png);
			}

			a.li02 {
			    background-image: url(../images/mess_icon02.png);
			}
			a.is-active.li02 {
			    background-image: url(../images/mess_icon02_act.png);
			}

			a.li03 {
			    background-image: url(../images/mess_icon03.png);
			}
			a.is-active.li03 {
			    background-image: url(../images/mess_icon03_act.png);
			}
			

			a.is-active {
			    color: #f18121;
			}
	    }
	}

	.form-change-pass {
	    width: 500px;
	    margin-left: 20px;

	    .txt {
		    padding: 5px 0;
		    font-size: 13px;
		    color: #757575;
		}
	}
}

.columns {
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-top: -.75rem;
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
}


.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.375em - 1px);
    padding-left: .75em;
    padding-right: .75em;
    padding-top: calc(.375em - 1px);
    text-align: center;
    white-space: nowrap;
        border-radius: 4px;
}

.button.is-danger {
    background-color: #ff3860;
    border-color: transparent;
    color: #fff;
}

.field:not(:last-child) {
    margin-bottom: .75rem;
}

.control {
    box-sizing: border-box;
    clear: both;
    font-size: 16px;
    position: relative;
    text-align: left;
}

@media only screen and (max-width: 1024px) {
	.pc {
	    display: none!important;
	}
}

@media only screen and (max-width: 1024px) {
	.messages .user-right {
	    order: 1;
	    width: 100%!important;
	}

	.messages .form-change-pass {
	    width: auto;
	}
}