@import 'colors';
@import 'mixins';
body {
    background-color: #ebebeb;
    font-family: Quicksand,sans-serif;
    font-size: 15px;
}

html {
    overflow-x:  hidden;
}

ul {
    list-style: none;
}





#header {
    .form-group.top-search input {
        width: 100%;
        height: 100%;
        border-radius: 50px;
        border: solid 1px #e0e0e0;
    }

    .form-group.top-search {
        position: relative;
        width: 100%;
        height: 44px;
        margin-left: 0;
        padding: 0 15px;
    }
    .form-group.top-search button {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: transparent;
        font-size: 24px;
        color: #f18121;
    }
	
	nav.navbar.navbar-default {
		background-color: $color_primary;
		border: none;
		border-radius: 0;
		margin-bottom: 20px;

		.navbar-header {
			.navbar-brand {
				color: #fff;
			}
		}

		ul.nav.navbar-nav {
			li {

				a {
					color: #fff;
				}
			}
			.open {
				a {
					&:focus {
						background-color: rgb(242, 156, 87);
					}
				}
			}

            .mega-list-wrapper {
                width: calc(100% - 265px);
                
                .mega-list li a {
                    
                }
            }

            .dropdown-menu {
                .container {
                    padding-left: 0;
                }
            }



            .column {
                display: block;
                flex-basis: 0;
                flex-grow: 1;
                flex-shrink: 1;
                padding: .75rem;
            }
		}
	}
	.dropdown {
		.dropdown-menu {
			box-shadow: unset;
			border: none;
			&:before {
				background-color: #fff;
			    content: "";
			    position: absolute;
			    top: 0;
			    left: -100vw;
			    width: 200vw;
			    height: 100%;
			    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
			    opacity: 1;
			    visibility: visible;
			    z-index: -1;
			}
			.columns {
				display: flex;
                justify-content: space-between;
			    .column {
			    	ul.mega_list {
			    		list-style: none;
			    		padding-left: 0;
			    		li {
			    			a {
                                padding: 7px 0;
                                display: inline-block;
                                font-weight: 500;
                                letter-spacing: -.5px;
                                color: #000;
                                font-size: 14px;

                                @include a_hover;
			    			}
			    		}
			    	}
			    }
		    }

		}
	}
	
}



#top-header {
	padding: 10px 0px;
	background: #fbfbfb;

    a.navbar-brand.hidden-lg {
        font-size: 24px;
    }
	.navbar-default {
	    background-color: unset; 
	    border: unset;
	}

	ul.nav.navbar-nav.navbar-right {
		height: 44px;
        display: flex;
        align-items: center;

		li {
			a {
				i.fa-android {
					color: $color_primary;
				}
			}
		}
	}

	form.navbar-form.navbar-left {
	    margin: 0;
	}

	.has-login {
		border-left: 1px solid #bbb;
		padding-left: 25px;
		display: flex;
		// height: 44px;

		a {
			padding-top: 11px;
			padding-bottom: 11px;
		}

		#btn-login {
			background-color: $color_primary;
			margin-right: 10px;
		}

		#btn-signup {
			background-color: $color_second;
		}

		.btn {
			border: none;
			color: #fff;
		}
	}

	.form-group.top-search {
	    position: relative;
	    width: 420px;
	    height: 44px;
	    margin-left: 60px;

	    input {
			width: 100%;
			height: 100%;
			border-radius: 50px;
    		border: solid 1px #e0e0e0;
		}

		button {
		    position: absolute;
		    right: 0;
		    top: 50%;
		    transform: translateY(-50%);
		    border: none;
		    background-color: transparent;
		    font-size: 24px;
		    color: $color-primary;
		}
	}

	.navbar-brand {
		padding: 0;
		height: 34px;
	}
	
}

.navbar {
    margin-bottom: 0px;
}

.modal {
    display: flex;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .3s;
}

.modal {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 40;
}
 
.modal-background {
    cursor: pointer;
    background-color: rgba(10,10,10,.86);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

}

.modal.login-modal{
    .modal-content {
        background: url(../images/login-bg.png) no-repeat;
        width: 713px;
        height: 416px;
        position: relative;
        border: none;
        box-shadow: none;

        .top-caption {
            font-size: 18px;
            font-weight: 700;
            line-height: 1.7;
            text-align: center;
            color: #fff;
            position: absolute;
            top: 8px;
            left: 75px;
            width: 290px;
            padding-top: 15px;
        }

        .tabs-buttons {
            display: flex;
            position: absolute;
            top: 35px;
            right: 55px;

            button {
                background-color: #fff;
                color: #56ccf2;
                border-radius: 50px;
                border: 1px solid #56ccf2;
                font-size: 16px;
                font-weight: 500;
                width: 120px;
                padding: 12px 0;
                margin: 0 5px;
            }

            button.is-active {
                background-color: #56ccf2;
                color: #fff;
            }
        }

        .tabs-contents {
            position: absolute;
            top: 110px;
            right: 30px;
            width: 310px;

            >div {
                opacity: 0;
                visibility: hidden;
                transition: all .3s;
                position: absolute;
                top: 0;
                left: 0;

                .form-login {
                    text-align: center;

                    input[type=email],
                    input[type=password],
                    input[type=text] {
                        text-align: left;
                        width: 100%;
                        height: 44px;
                        border-radius: 50px;
                        border: solid 1px #e0e0e0;
                        background-color: #f9f9f9;
                        padding: 0 20px;
                        margin-bottom: 20px;
                        font-weight: 500;
                        color: #757575;
                    }

                    button[type=submit] {
                        width: 100%;
                        padding: 12px 0;
                        border: none;
                        border-radius: 50px;
                        background-color: #56ccf2;
                        font-size: 16px;
                        font-weight: 700;
                        color: #fff;
                        margin-bottom: 20px;
                        cursor: pointer;
                    }

                    .forget-password-link {
                        font-size: 16px;
                        font-weight: 700;
                        color: #56ccf2;
                        text-decoration: underline;
                    }
                }

                .social-login {
                    margin-top: 30px;
                    display: flex;
                    align-items: center;

                    span {
                        display: inline-block;
                    }

                    a {
                        margin: 0 5px;
                        border-radius: 50%;
                        width: 36px;
                        height: 36px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    a.facebook-link {
                        background-color: #2196f3;
                    }
                    a.google-link {
                        background-color: #e74c3c;
                    }
                }
            }
        }

        .tabs-contents>div.is-active {
            opacity: 1;
            visibility: visible;
        }



    }
}


//qr code modal
.modal.qr-modal {
    .modal-content {
        background: url(../images/qr-bg.png) no-repeat;
        width: 725px;
        height: 354px;
        position: relative;
        overflow: initial;

        .qr-section {
            text-align: center;
            width: 340px;
            position: absolute;
            top: 38px;
            left: 28px;

            .caption {
                font-size: 18px;
                font-weight: 500;
                color: #000;
            }

            .qr-img {
                width: 112px;
                height: 112px;
                margin: 20px 0;
            }

            ul {
                margin-top: 15px;
                font-size: 0;

                li {
                    display: inline-block;
                    margin-right: 10px;

                    a,
                    span {
                        display: inline-block;
                    }
                }
            }
        }

        .close-button {
            position: absolute;
            top: -8px;
            right: -8px;
            border: none;
            cursor: pointer;
        }
    }
}

.close-icon {
    background: url(../images/close-icon.png) no-repeat center;
    width: 36px;
    height: 36px;
}

.google-play-icon {
    background: url(../images/google-play.png) no-repeat center;
    width: 119px;
    height: 36px;
}

.app-store-icon {
    background: url(../images/app-store.png) no-repeat center;
    width: 122px;
    height: 36px;
}

.facebook-icon {
    background: url(../images/facebook-icon.png) no-repeat center;
    width: 20px;
    height: 20px;
}

.google-icon {
    background: url(../images/google-icon.png) no-repeat center;
    width: 20px;
    height: 20px;
}

.modal.is-active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
    display: flex;
}



input, button {
    outline: none;
}

input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

input {
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

a {
    transition: all .3s ease;
    cursor: pointer;
    text-decoration: none !important;

}

.box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}

#path .breadcrumb {
    background-color: #fff;
    padding: 15px 0;
}

#path a {
    font-size: 13px;
    color: #424242;
}

.not-has-login {
    .top-buttons.has-login {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 165px;
        border-left: 1px solid #bbb;
        padding-left: 25px;
    }

    .top-buttons {
        border-left: 1px solid #bbb;
        padding-left: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 165px;
        .user{
            cursor: pointer;
            .user-links {
                position: absolute;
                top: 44px;
                right: 0;
                border-radius: 0 0 10px 10px;
                box-shadow: 0 10px 10px 0 rgba(0,0,0,.25);
                background-color: #ebebeb;
                padding: 5px 0px;
                z-index: 100;
                opacity: 0;
                visibility: hidden;
                transition: all .3s;

                li {
                    margin: 7px 0;
                    a {
                        white-space: nowrap;
                        color: #000;
                        display: flex;
                        align-items: center;
                        .fa {
                            font-size: 18px;
                            color: #999;
                            margin-right: 8px;
                            width: 20px;
                            text-align: center;
                            transition: all .3s;
                        }
                        @include a_hover;
                    }
                }
            }
        }
        .user.open {
            .user-links {
                opacity: 1;
                visibility: visible;

                li {
                    a {
                        padding-top: 0;
                        padding-bottom: 0;


                    }
                }
            }
        } 

        .notify {
            position: relative;

            .fa {
                font-size: 24px;
                color: #bbb;
                transition: all .4s;
                cursor: pointer;
            }

            .list-messages {
                position: absolute;
                top: 44px;
                right: 0;
                width: 390px;
                border-radius: 0 0 10px 10px;
                box-shadow: 0 10px 10px 0 rgba(0,0,0,.25);
                background-color: #ebebeb;
                padding: 0 20px 18px 20px;
                z-index: 100;
                opacity: 0;
                visibility: hidden;
                transition: all .3s;
                overflow-y: auto;
                max-height: 300px;

                .title-message {
                    font-size: 18px;
                    font-weight: 700;
                    color: #424242;
                    line-height: 2.5;
                }

                ul {
                    padding-left: 0;
                    li {
                        border-radius: 5px;
                        box-shadow: 0 0 3px 0 rgba(0,0,0,.1);
                        background-color: #fff;
                        padding: 8px 10px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .notify.open {
            .list-messages {
                opacity: 1;
                visibility: visible;
            }
        }
    }
     
} 

.avatar-menu img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #000;
}

@media only screen and (max-width: 1024px) {
    #top-header {
        display: none;
    }
    #header nav.navbar.navbar-default {
        margin-bottom: 2px;
    }

    #hero .container .tile.is-ancestor .hero-item .tor-left {
        height: 185px !important;
    }
    body {
        font-size: 14px;
        background-color: #fff;
    }

    .mega-list-wrapper {
        width: 100% !important;

        .columns {
            display: block !important;

            .column {
                ul {
                    li {
                        float: left;
                        width: 49%;

                        a {
                            font-size: 16px !important;
                            color: #fff !important;
                            &:hover {
                                color: #fff !important;
                            }
                        }
                    }
                }
            }
        }
    }

    ul.nav.navbar-nav
    {
        >li {
            border-bottom: 1px solid #fff;
        }
        .dropdown-menu {
            .container {
                padding-left: 15px !important;
                background-color: #f29c57;
            }
        } 
    } 


    .hd-mb {
        display: flex;
        justify-content: space-between;

        .menu-mb {
            font-size: 24px;
        }

        .navbar-toggle {
            border: unset;
            margin-right: 0;
            margin-bottom: 0;

            &:focus {
                background-color: transparent;
            }

            .icon-bar {
                background-color: #fff;
            }
        }
    }

    .modal.login-modal {
        .modal-content {
            background: #fff;
            background-size: cover;
            background-position: center top;
            height: auto;
            padding-bottom: 60%;
            width: 98%;

            .top-caption {
                display: none;
            }
            .tabs-buttons {
                display: flex;
                position: absolute;
                top: 10px;
                right: 10px;
                width: 45%;

                button {
                    font-size: 2.5vw;
                    width: 50%;
                    padding: 5px 0;
                    margin: 0 1px;
                }
            }

            .tabs-contents {
                position: absolute;
                top: 70px;
                right: 0;
                width: 100%;
                z-index: 9999;
                .register-section {
                    width: 100%;
                }
                >div .form-login {
                    padding: 10px;
                    text-align: center;

                    input[type=email],
                    input[type=password],
                    input[type=text] {
                        height: auto;
                        border-radius: 25px;
                        padding: 5px 5px;
                        margin-bottom: 8px;
                        font-size: 2.5vw;
                    }

                    button[type=submit] {
                        font-size: 2.5vw;
                        margin-bottom: 5px;
                        padding: 10px 0px;
                        border-radius: 50px;
                    }
                    .forget-password-link {
                        font-size: 2.5vw;
                    }
                }

                >div .social-login {
                    padding-left: 10px;
                    margin-top: 5px;

                    a {
                        width: 20px;
                        height: 20px;

                        span {
                            background-size: cover;
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }
        }
    } 

}