@import 'colors';

@mixin category_title {
    font-size: 19px;
    padding-left: 5px;
    margin-left: 10px;
    border-left: 7px solid #56ccf2;
    margin-bottom: 10px;
    font-weight: 700;
}

@mixin titles {
	font-size: 24px;
    font-weight: 500;
    letter-spacing: -.8px;
    line-height: 1;
    margin-bottom: 25px;

    a {
    	text-decoration: none;

    	&:hover {
    		color: $color_primary;
    	}
    }

    span {
	    float: left;
	    width: 24px;
	    height: 24px;
	    background-size: contain;
	    margin-right: 10px;
	}
}

@mixin a_hover {
    &:hover {
        text-decoration: none;
        color: #f18121;
        transition: all .3s ease;
        cursor: pointer;
    }
}

@mixin commic_item {
    .story-item {
        text-align: center;
        position: relative;

        >a {
            display: inline-block;
            width: 100%;
            margin-bottom: 10px;
        }

        .top-notice {
            position: absolute;
            top: 9px;
            left: 8px;
            font-size: 0;

            span {
                font-size: 13px;
                font-weight: 500;
                color: #fff;
                padding: 2px 6px 3px;
            }
            .time-ago {
                border-radius: 5px;
                background-color: #56ccf2;
                margin-right: 5px;
            }
            .type-label {
                border-radius: 5px;
                background-color: #000;
                -webkit-animation: pulse 1s steps(5,start) infinite;
                animation: pulse 1s steps(5,start) infinite;
            }
            .hot {
                background-color: #ff2853;
            }
            .new {
                background-color: #fa0;
            }


        }
        .title-book {
            font-weight: 500;
            letter-spacing: -.5px;
            margin-top: 0px;
            font-size: 15px;
            margin-bottom: 0;

            a {
                color: #000;
                text-decoration: none;
                transition: all .3s ease;
                cursor: pointer;

                overflow: hidden;
               text-overflow: ellipsis;
               display: -webkit-box;
               line-height: 16px;     /* fallback */
               max-height: 32px;      /* fallback */
               -webkit-line-clamp: 1; /* number of lines to show */
               -webkit-box-orient: vertical;

                &:hover {
                    color: $color_primary;
                }
            }
        }

        .episode-book {
            font-size: 13px;
            font-weight: 400;
            letter-spacing: -.4px;

            
            a {
                color: #000;
                text-decoration: none;
                &:hover {
                    color: $color_primary;
                }
            }
        }

        .more-info {
            width: 310px;
            text-align: left;
            opacity: 0;
            visibility: hidden;
            transition: all .3s;
            border-radius: 6px;
            background-color: #fff;
            box-shadow: 0 0 15px 0 rgba(0,0,0,.25);
            padding: 10px;
            position: absolute;
            top: 0;
            left: 100%;
            -webkit-transform: translateX(40px);
            transform: translateX(40px);
            z-index: 100;

            &::before {
                position: absolute;
                top: 25px;
                left: -9px;
                content: "";
                width: 0;
                height: 0;
                border-top: 9px solid transparent;
                border-bottom: 9px solid transparent;
                border-right: 9px solid #fff;
            }

            .title-more {
                font-size: 13px;
                font-weight: 700;
                color: #f18121;
                letter-spacing: normal;
                margin-top: 0;
            }

            .info {
                font-size: 13px;
                font-weight: 500;
                line-height: 1.5;
                color: #000;
                margin-bottom: 0;
            }

            .list-tags {
                margin: 10px 0;
                font-size: 0;

                a.blue {
                    background-color: #56ccf2;
                }
                a {
                    display: inline-block;
                    border-radius: 5px;
                    font-size: 12px;
                    font-weight: 500;
                    color: #fff;
                    padding: 3px 7px 2px;
                    margin-right: 2px;
                    margin-bottom: 2px;
                }
            }

            .excerpt {
                font-size: 13px;
                font-weight: 500;
                color: #000;
            }
        }

        .story-cover {
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: 6px;
            border: 1px solid #ccc;
            margin: auto;
        }



    }


    .story-item.show_left {
        .more-info {
            left: initial;
            right: 100%;
            -webkit-transform: translateX(-40px);
            transform: translateX(-40px);

            &:before {
                position: absolute;
                top: 25px;
                right: -9px;
                left: initial;
                content: "";
                width: 0;
                height: 0;
                border-top: 9px solid transparent;
                border-bottom: 9px solid transparent;
                border-left: 9px solid #fff;
                border-right: none;
            }
        }   
    } 
    

    .cm-item {
        padding-right: 5px;
        padding-left: 5px;
        margin-bottom: 15px;
    }

    .story-item.show-left.open {
        .more-info {
            -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
        }   
    }
    .story-item.open {
        .more-info {
            -webkit-transform: translateX(0px);
            transform: translateX(0px);
            opacity: 1;
            visibility: visible;
        }
    }



}

